body {
    /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    margin: 0;
}

#image {
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid #000;
    
}   

#img-caption{
    text-align: center;
    color: rgb(23, 24, 26);
    font-style: italic;
        font-weight: lighter;
}

#tribute-info{
    color: rgb(23, 24, 26);
    margin: 0 auto;
    max-width: 70%;
    margin-top: 25px;
    text-align: justify;
}
#title{
    margin-bottom: 0;
}

#title-container{
    background-color: rgb(4, 121, 255);
    max-width: 100%;
    margin: 0 auto;    
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 30px;    
}

h5{
    font-style: italic;
    font-weight: lighter;
    margin-top: 0;
}

#time-line{
    max-width: 100%;
    background-color: rgb(4, 121, 255);    
    padding: 50px;
}

#ul-time-line{
    
    text-align: left;
}

li{
    margin: 16px 0;
}

footer{
    margin-top: 20px;
    color: rgb(23, 24, 26);
}

a{
    color: rgb(4, 121, 255);
    text-decoration: none;
    font-weight: bold;

}

ul{
    max-width: 550px;
        margin: 0 auto 50px auto;
        text-align: left;
        line-height: 1.6;
}

#bandera{
    display: block;
    max-width: 5%;
        margin: 0 auto;        
        margin-top: 10px;
        margin-bottom: 20px;
}